.body{
    text-align: center;
}
.main{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.empty{
    width: 100px;
}
.logo{
    width: 300px;
}
h3{
    padding: 10px;
    font-size: medium;
}
.text{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 2;
}
.invisible{
    text-decoration: none;
    color: black;
}
.headshot{
    height: 500px;
    width: 350px;
    object-fit: cover;
    margin: 10px;
}
.fourxfour{
    display: flex;
    flex-wrap: wrap;
    width: 740px;
    height: 630px;
}
.description{
    width: 350px;
    margin: 10px;
    height: 100px;
    text-align: center;
    font-size: x-large;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 100px;
}
.headshotdiv{
    text-align: left;
}
.UniversityName{
    font-size: x-large;
}
.textlogin{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 2;
    text-align: center;
}
button{
    margin: 20px;
}
#wrong{
    color: red;
}